body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #023737;
    font-size: 90px;
    line-height: 2;
     margin: 50px auto 0 auto;
     font-family: 'Sacramento', cursive;
    }
h2{
    color: #179898;

    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom:10px;
}
h3{
    color: #1c9397;

    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
 
}
a:hover{
    color: #091818;
}
.top-container{
    background-color: #94B49F;
    position: relative;
    padding: 100px;
   

    ;
}
.middel-container{
    margin: 100px 0;
   

  
} 
.intro{
    width: 30% ;
    margin: auto;
}
.bottom-container{
    
    background-color:#bfb9e2;
    padding: 50px 0 20px;
} 
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.contact-me{
    width: 40%;
    margin: 60px auto 60px;
    margin-top: 20px;
    padding-top: 10px;
}
.copyright{
  color: #000505;
  font-size: 0.75rem;
  padding: 20px 0;
}]

.btn {
    background: #a096e6;
    background-image: -webkit-linear-gradient(top, #a096e6, #2980b9);
    background-image: -moz-linear-gradient(top, #a096e6, #2980b9);
    background-image: -ms-linear-gradient(top, #a096e6, #2980b9);
    background-image: -o-linear-gradient(top, #a096e6, #2980b9);
    background-image: linear-gradient(to bottom, #a096e6, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Courier New;
    color: #27133d;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e2ebf0;
    background-image: -webkit-linear-gradient(top, #e2ebf0, #1d557a);
    background-image: -moz-linear-gradient(top, #e2ebf0, #1d557a);
    background-image: -ms-linear-gradient(top, #e2ebf0, #1d557a);
    background-image: -o-linear-gradient(top, #e2ebf0, #1d557a);
    background-image: linear-gradient(to bottom, #e2ebf0, #1d557a);
    text-decoration: none;
  }
